<%= form_for([@post, @comment]) do |f| %>
    <div class="field">
      <%= f.label 'Add Comment' %>
      <%= f.text_field :content %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>

    <div class="actions">
      <%= f.submit "Submit Comment" %>
    </div>

<% end %>
